<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>获取Token</title>
<link href="" rel="stylesheet">
<style>
	body,p,div,ul,li,h1,h2,h3,h4,h5,h6{
		margin:0;
		padding: 0;
	}
	body{
		background: #E9E9E9; 
	}
	#login{
		width: 800px;
		height: 32px;
		margin:200px auto;
		position: relative;
	}
	#login h1{
		text-align:center;
		position:absolute;
		left:356px;
		top:-55px;
		font-size:21px;
	}
	#login p{
        color: #000;
		text-align: center;
	}
    #login p a {
        color:#FFF;
    }
</style>
</head>
<body>
<div id="login">
<h1>您的Token</h1>	
    <p>{{token}}</p>
</div>
</body>
</html>     